<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kopo.poly.hanium.mapper.IQuizMapper">

    <!--    퀴즈 리스트 쿼리-->
    <select id="getQuizList" resultType="QuizDTO">
        SELECT quiz_id, title, description, created_at
        FROM quizzes
    </select>

    <!--    퀴즈 문제 불러오기 쿼리-->
    <select id="getQuizInfo" resultType="SignWordsDTO">
        SELECT
            sw.word_id,
            sw.word,
            sw.description
        FROM quiz_questions qq
                 JOIN sign_words sw
                      ON qq.word_id = sw.word_id
        WHERE qq.quiz_id = #{quizId}
    </select>

    <!--    퀴즈 결과 저장 쿼리-->
    <insert id="saveQuizResult" parameterType="QuizResultsDTO">
        INSERT INTO quiz_results (user_id, quiz_id, score, total)
        VALUES (#{userId}, #{quizId}, #{score}, #{total})
            ON DUPLICATE KEY UPDATE
                                 score = #{score},
                                 total = #{total}
    </insert>

    <!--    퀴즈 점수 불러오기-->
    <select id="selectQuizResultByUserAndQuiz" parameterType="QuizDTO" resultType="QuizResultsDTO">
        SELECT user_id, quiz_id, score, total, taken_at
        FROM quiz_results
        WHERE user_id = #{userId}
          AND quiz_id = #{quizId}
    </select>
</mapper>