<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="kopo.poly.hanium.mapper.IUserInfoMapper">

    <select id="getLogin" parameterType="UserInfoDTO" resultType="UserInfoDTO">
        SELECT user_id, name, email
        FROM users
        WHERE user_id = #{userId}
          AND password = #{password}
    </select>

    <select id="emailAuthNumber" parameterType="UserInfoDTO" resultType="UserInfoDTO">
        SELECT
            IF(COUNT(user_id) > 0, 'Y', 'N') AS EXISTS_YN
        FROM users
        WHERE email = #{email}
    </select>

    <select id="getUserId" parameterType="UserInfoDTO" resultType="UserInfoDto">
        SELECT user_id, name, email
        FROM users
        WHERE 1 = 1
        <if test="userId neq null and userId neq '' "> <!-- 비밀번호 찾기라면, user_id 조회 추가 -->
            AND user_id = #{userId}
        </if>
        AND name = #{name}
        AND email = #{email}
    </select>

    <!-- 회원가입 -->
    <insert id="insertUserInfo" parameterType="UserInfoDTO">
        INSERT INTO users
        (
         USER_ID,
         PASSWORD,
         NAME,
         EMAIL,
         BIRTH_DATE
        )
        VALUES
        (
         #{userId},
         #{password},
         #{name},
         #{email},
         #{birthDate}
        )
    </insert>

    <!-- 아이디 중복 체크 -->
    <select id="getUserIdExists" parameterType="UserInfoDTO" resultType="UserInfoDTO">
        SELECT IF(COUNT(USER_ID) > 0, 'Y', 'N') AS EXISTS_YN
        FROM users
        WHERE USER_ID = #{userId}
    </select>

    <!-- 이메일 중복 체크 -->
    <select id="getUserEmailExists" parameterType="UserInfoDTO" resultType="UserInfoDTO">
        SELECT IF(COUNT(USER_ID) > 0, 'Y', 'N') AS EXISTS_YN
        FROM users
        WHERE EMAIL = #{email}
    </select>
</mapper>